

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


@font-face {
  font-family: 'Tussilago';
  src: url('./fonts/tussilagorg-regular.otf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
}